@charset "UTF-8";
/*---------------------General----------------------------------*/
/* etiqueta raíz */
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: #393939;
  position: relative;
  color: #a5a3a3;
  font-size: 15px;
  letter-spacing: 5px; }

/*---------------------General----------------------------------*/
/*-----------      INDEX          -----------------------*/
/*----------------------Header-----------------------------------*/
header {
  height: 100%;
  display: inline;
  align-content: stretch;
  justify-content: space-evenly; }

.header__title {
  color: #a5a3a3; }

.header__title:hover {
  color: #a5a3a3; }

/*------------------------MENU--------------------------*/
.menu {
  display: flex;
  flex-flow: row wrap; }

.menu--textColor {
  color: sandybrown; }

.menu--linkFormat {
  color: black;
  text-decoration: none;
  vertical-align: 13px; }

/*------------------------MENU--------------------------*/
/*----------------------Header-----------------------------------*/
/*--------------------   INDEX  ---------------------------------*/
/*---------------------Footer-----------------------*/
/*---------------------Address------------------*/
footer {
  height: 100%;
  background-image: linear-gradient(to bottom, #393939, black);
  font-size: 10px;
  color: sandybrown; }

/*---------------------Address------------------*/
/*---------------------Footer-----------------------*/
/*------------------------     Me     ---------------------------*/
.header--variation {
  background-color: black; }

.title {
  font-size: 40px;
  color: sandybrown;
  animation-name: titleAnimation;
  animation-duration: 4s; }

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%; }
  50% {
    transform: scale(1);
    transform-origin: 50% 50%; }
  100% {
    opacity: 1; } }

.article__picture {
  height: 500px; }

.article__picture p {
  color: bisque; }

.article__picture__img {
  height: 530px; }

.article__info {
  border: 10px; }

/*------------------------     Me     ---------------------------*/
/*------------------------     FORM     ---------------------------*/
.variationColor {
  background-image: linear-gradient(to top, #393939, black); }
